---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { fade, slide } from 'astro:transitions';
import { getCollection } from 'astro:content';
import { getEntries } from 'astro:content';

const experienceItems = await getCollection('experience');
---

<Layout title="About">
  <main class="container">
    <h1 class="heading text-3xl font-medium mb-12">Work Experience</h1>

    <ul class="list-none flex flex-col gap-12">
      {
        experienceItems.map(({ data }) => (
          <li class="experience flex flex-col md:flex-row items-start gap-4">
            <span class="heading text-xs font-light bg-black px-2 py-1 text-white">
              {data.yearsActive.start} - {data.yearsActive.end}
            </span>
            <div>
              <h2 class="heading text-2xl">{data.role}</h2>
              <div class="heading text-gray-500 text-lg italic">
                {data.url ? (
                  <a class="underline" href={data.url}>
                    {data.companyName}
                  </a>
                ) : (
                  data.companyName
                )}
                - {data.location}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
