---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

let menuLinks = [
  {
    title: 'design',
    href: '/design',
    isActive: false,
  },
  {
    title: 'me',
    href: '/me',
    isActive: false,
  },
  {
    title: 'dev',
    href: '/dev',
    isActive: true,
  },
  {
    title: 'blog',
    href: '/blog',
    isActive: false,
  },
  {
    title: 'contact',
    href: '/contact',
    isActive: false,
  },
];
const isEven = menuLinks.length % 2 === 0;
---

<Layout title="David Elutilo">
  <main class="h-full w-full">
    <div class="h-full w-full flex items-center justify-center">
      <h1 id="title">delutilo.</h1>
      <nav>
        <ul class={`menu ${isEven ? 'is-even' : ''}`}>
          {
            menuLinks.map((link, index) => (
              <li
                class={`menu-item ${link.isActive ? 'active' : ''}`}
                data-order={index}
              >
                {link.title}
              </li>
            ))
          }
          <span class="slider" id="slider"></span>
        </ul>
      </nav>
    </div>
  </main>
</Layout>

<script>
  function highlightMenuItem(slider, item) {
    let x = item.offsetLeft;
    let y = item.offsetTop;
    let w = item.clientWidth;
    let h = item.offsetHeight;

    slider.style.left = `${x}px`;
    slider.style.top = `${y}px`;
    slider.style.width = `${w}px`;
    slider.style.height = `${h}px`;
  }

  let nav = document.querySelector('nav');
  let title = document.getElementById('title');
  let menuItems = document.querySelectorAll('.menu-item');
  let activeItem = document.querySelector('.menu-item.active');
  let slider = document.getElementById('slider');

  let navDistanceFromTitle = title.offsetTop - nav.offsetTop;

  setTimeout(() => {
    if (activeItem) {
      highlightMenuItem(slider, activeItem);
    }
  }, 500);

  menuItems.forEach((item) => {
    item.addEventListener('click', () => {
      activeItem.classList.remove('active');
      item.classList.add('active');

      // console.log({
      //   activeItem: activeItem.offsetTop,
      //   item: item.offsetTop,
      // });

      let distanceFromTitle = Math.abs(item.offsetTop - navDistanceFromTitle);

      console.log(distanceFromTitle);

      if (parseInt(item.dataset.order) > parseInt(activeItem.dataset.order)) {
        distanceFromTitle = -distanceFromTitle;
      }

      nav.style.transform = `translateY(${distanceFromTitle}px)`;

      activeItem = item;
    });

    item.addEventListener('mouseover', () => {
      highlightMenuItem(slider, item);
    });
  });

  nav.addEventListener('mouseleave', () => {
    highlightMenuItem(slider, activeItem);
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-family: 'RaglotDemo', sans-serif;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    z-index: 5;
  }

  nav {
    margin-left: -2rem;
    position: relative;
    transition: all 0.25s;
  }

  @starting-style {
    .menu-item {
      visibility: hidden;
      opacity: 0;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    &:hover {
      .menu-item:not(.active) {
        visibility: visible;
        opacity: 0.5;
      }
    }

    &.is-even {
      transform: translateY(calc(-1rem));
    }
  }

  .menu-item {
    /* display: none; */
    visibility: hidden;
    z-index: 5;
    font-family: 'RaglotDemo', sans-serif;
    font-size: 4rem;
    line-height: 1;
    margin: 0 1rem;
    cursor: pointer;
    transition:
      opacity 0.25s,
      visibility 0.25s;
    transition-behavior: allow-discrete;
    opacity: 0;
    @apply px-8;

    &:hover {
      color: white;
      opacity: 1 !important;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .slider {
    position: absolute;
    transition: all 0.25s;
    animation: 500ms ease-in 500ms grow;
    @apply bg-gray-400 rounded-full;
  }

  @keyframes grow {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }
</style>
